<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Students form V2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input autocapitalize="on" [(ngModel)]="student.name" name="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">course</ion-label>
      <ion-input autocapitalize="on" [(ngModel)]="student.course" name="surname"></ion-input>
    </ion-item>
    <div class="ion-margin-vertical">
      <ion-button type="submit" color="secondary" expand="block">Save</ion-button>
    </div>
  </form>
</ion-content>